main {
  width: 100%;
  border: solid 3px rgb(133, 128, 122);
}
.toolbar {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.add-employee {
  padding: 1rem;
  margin-right: 7rem;
  width: 35%;
}
.search-employe {
  width: 65%;
  height: fit-content;
}
.heading {
  border-top: solid 2px black;
}

.heading h6 {
background-color: rgb(255, 250, 250);
text-align: center;
width: 18rem;
transform: translateY(-50%);

}
