<div class="container-fluid">
  <!-- Header -->
  <app-header></app-header>
  <main>
    <!-- Tool bar for search and add -->
    <div class="toolbar mt-5">
      <div class="add-employee">
        <button class="btn btn-outline-primary btn-lg" (click)="openModal()">Add Employee</button>
      </div>
      <div class="search-employe">
        <input
          type="search"
          class="form-control"
          placeholder="Search Employee"
        />
      </div>
    </div>
    <!-- Display all employees here -->
    <div class="employee">
      <div class="row mt-5">
        <div class="col text-center">
          <span class="text-secondary fs-2 fw-bold fst-italic">No Employé</span>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Employee information</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="onCloseHandled()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeForm">
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="First Name"
                formControlName="firstName"
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                name=""
                id=""
                placeholder="Last Name"
                formControlName="lastName"
              />
            </div>
          </div>
          <!-- Information personnelle -->
          <div class="row mt-2">
            <div class="col heading">
              <h6 class="text-secondary fst-italic">Personal Info</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="datepicker" class="form-label">Birthday</label>
              <input type="date" class="form-control" id="datepicker" formControlName="birthday" />
            </div>
            <div class="col">
              <div class="row">
                <label for="gender" class="form-label">Gender</label>
              </div>

              <div class="col">
                <div class="row">
                  <div class="form-check form-check-inline">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="gender"
                      id="male"
                      value="1"
                      formControlName="gender"
                    />
                    <label for="male" class="form-check-label">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="gender"
                      id="female"
                      value="2"
                      formControlName="gender"

                    />
                    <label for="female" class="form-check-label">Female</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <select name="" class="form-select" formControlName="educattion">
                <option value="">Select</option>
                <option *ngFor="let opt of eductationOption">{{opt | titlecase}}</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label for="profile" class="form-label"> Profile</label>
              <input type="file" class="form-control" placeholder="Profile Image" #profileImage  name="" id="">
            </div>
          </div>
          <div class="row mt-3" >
            <div class="col heading">
              <h6 class="text-secondary fst-italic" >Job Information</h6>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <input type="text" class="form-control" formControlName="company" placeholder="Company" name="" id="">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <input type="number" class="form-control" formControlName="jobxperience" placeholder="salary(Dinar)">
            </div>
            <div class="col">
              <input type="number" class="form-control" formControlName="salary" placeholder="Experience">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onCloseHandled()">
          Close
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="AddEmploye()"
        >
          ADD
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
